@import url('https://fonts.googleapis.com/css2?family=Laila&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%); */
  background-color: #537895;
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
  background: #4776e6;
  /* background: linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  );   */

  color: #fff;
  font-family: 'Laila', serif;
  color: #d4d4d4;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 15px;
}

.time h2 {
  font-size: 5rem;
}

.title {
  font-size: 3rem;
}

.new-year-countdown {
  font-size: 8rem;
  margin-top: 50px;
  text-align: center;
}

.new-year {
  font-size: 25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  transform: translateX(-50%);
}
