@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: url(./images/celebration.jpg) no-repeat center / cover;
  color: rgb(230, 230, 230);
  font-family: 'Mulish', sans-serif;
  height: 100vh;
  position: relative;
}

body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

body * {
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.new-year-heading {
  font-size: 6rem;
  margin-top: 50px;
  text-align: center;
}

.countdown-time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown-time .time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.countdown-time span {
  font-size: 6rem;
  padding-bottom: 52px;
  margin: 0 3px;
}

.time h2 {
  font-size: 6rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.new-year {
  font-size: 20rem;
  position: absolute;
  left: 50%;
  bottom: 5%;
  opacity: 0.35;
  transform: translateX(-50%);
  z-index: 0;
}

@media (max-width: 500px) {
  .new-year-heading {
    font-size: 5rem;
  }
  .countdown-time .time {
    margin: 5px;
  }
  .time h2 {
    font-size: 5.4rem;
  }
  .title {
    font-size: 2.2rem;
  }

  .countdown-time span {
    font-size: 5rem;
    padding-bottom: 39px;
    margin: 0 3px;
  }

  .new-year {
    font-size: 14rem;
    bottom: 20%;
  }
}

@media (max-width: 400px) {
  .new-year-heading {
    font-size: 5rem;
  }
  .time h2 {
    font-size: 4.5rem;
  }
  .title {
    font-size: 1.8rem;
  }
  .countdown-time span {
    font-size: 4.5rem;
    padding-bottom: 35px;
  }

  .new-year {
    font-size: 12rem;
    bottom: 20%;
  }
}

@media (max-width: 350px) {
  .new-year-heading {
    font-size: 4.5rem;
  }

  .time h2 {
    font-size: 3rem;
  }
  .title {
    font-size: 1.4rem;
  }
  .countdown-time span {
    font-size: 3rem;
    padding-bottom: 28px;
  }

  .new-year {
    font-size: 10rem;
    bottom: 15%;
  }
}
